<table class="table table-condensed">
    <thead>
    <tr>
        <td>url</td>
        <td>title</td>
        <td>id</td>
    </tr>
    </thead>
    <tbody>
    {% for publication in publications %}
        <tr>
            <td>
                {% if publication.slug is null %}
                    <a class="publication-link" href="{{ exposeFrontUri ~ publication.id }}">{{ exposeFrontUri ~ publication.id }}</a>
                {% else %}
                    <a class="publication-link" href="{{ exposeFrontUri ~ publication.slug }}">{{ exposeFrontUri ~ publication.slug }}</a>
                {% endif %}
            </td>
            <td>{{ publication.title }}</td>
            <td>{{ publication.id }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>
